<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Will Lee-Wagner">

    <title>Settings | Webtalk</title>

    <!-- Bootstrap core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Cutive' rel='stylesheet' type='text/css'>
    <link href="css/base.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Nav -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="tw"><a class="navbar-brand" href="/">realtalk.</a></span>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav active">
            <li><a href="chat">Chat</a></li>
            <li><a href="about">About</a></li>
            <li class="active"><a href="settings">Settings</a></li>
            <li><a href="login">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    
    
    <div class="container body">
      <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
      </div>
      
      <div class="row">
      
      	<!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
          <div class="well">
            <h3><span class="fa fa-user"></span>Local</h3>
          <!-- check if the user has this token (is the user authenticated with this social account) -->
				  <% if (user.local.email) { %>
            <p>
              <strong>id</strong>: <%= user._id %><br>
              <strong>email</strong>: <%= user.local.email %><br>
              <strong>password</strong>: <%= user.local.password %>
            </p>
            <a href="/unlink/local" class="btn btn-default">Unlink</a>
          <% } else { %> 
            <a href="/connect/local" class="btn btn-default">Connect Local</a>
          <% } %>
          </div>
        </div>
        <!-- END LOCAL -->
        
        <!-- FACEBOOK INFORMATION -->
        <div class="col-sm-6">
        	<div class="well">
            <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
          <!-- check if the user has this token (is the user authenticated with this social account) -->
				  <% if (user.facebook.token) { %>
            <p>
              <strong>id</strong>: <%= user.facebook.id %><br>
              <strong>token</strong>: <%= user.facebook.token %><br>
              <strong>email</strong>: <%= user.facebook.email %><br>
              <strong>name</strong>: <%= user.facebook.name %>
            </p>
            
            <a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
				  <% } else { %>
            <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
          <% } %>
        	</div>
        </div>
        <!-- END FACEBOOK -->
        
        <!-- TWITTER INFORMATION -->
    		<div class="col-sm-6">
    			<div class="well">
    				<h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>
    
    				<!-- check if the user has this token (is the user authenticated with this social account) -->
    				<% if (user.twitter.token) { %>
    					<p>
    						<strong>id</strong>: <%= user.twitter.id %><br>
    						<strong>token</strong>: <%= user.twitter.token %><br>
    						<strong>display name</strong>: <%= user.twitter.displayName %><br>
    						<strong>username</strong>: <%= user.twitter.username %>
    					</p>
    
    					<a href="/unlink/twitter" class="btn btn-info">Unlink</a>
    				<% } else { %>
    					<a href="/connect/twitter" class="btn btn-info">Connect Twitter</a>
    				<% } %>
    			</div>
    		</div>
        <!-- END TWITTER -->
        
        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-6">
          <div class="well">
            <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google</h3>
            
            <% if (user.google.token) { %>
              <p>
                <strong>id</strong>: <%= user.google.id %><br>
                <strong>token</strong>: <%= user.google.token %><br>
                <strong>email</strong>: <%= user.google.email %><br>
                <strong>name</strong>: <%= user.google.name %>
              </p>
              
              <a href="/unlink/google" class="btn btn-danger">Unlink</a>
            <% } else { %>
              <a href="/connect/google" class="btn btn-danger">Connect Google</a>
            <% } %>
          </div>
      	</div>
      	<!-- END GOOGLE -->
      	
      </div>
    </div>
    
    <!-- Footer -->
    <div id="footer">
      <hr>
      <div class="container">
        <div class="col-sm-4">
          <a href="https://www.nodejitsu.com/">powered by Nodejitsu</a>
        </div>
        <div class="col-sm-4">
          <a id="contact">Email the dev!</a>
        </div>
        <div class="col-sm-4">Code licensed under MIT
          <br>&#169; Will Lee-Wagner</div>
      </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.0.4.js"></script>
    <script language="javascript" type="text/javascript" src="js/plugins/jquery.willpop.min.js"></script>
  </body>
</html>